body {
  margin: 0;
  padding: 0;
}

/* Hoofdcontainer voor layout */
#main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #f5f5f5;
}

/* Viewer links */
#viewer {
  flex: 3;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #f2f2f2, #e0e0e0); /* Subtiele grijs gradient */
  position: relative;
}

/* Canvas in de viewer */
#viewer canvas {
  width: 100%;
  height: 100%;
}

/* Configurator rechts */
#configurator {
  flex: 1;
  background: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Tabs bovenaan */
.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tab-button {
  color: white;
  flex: 1;
  padding: 10px;
  text-align: center;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-button.active {
  border-bottom: 3px solid #007bff;
  font-weight: bold;
}

.tab-content {
  display: none;
  flex-direction: column;
}

.tab-content.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Kleuropties */
.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.color:hover {
  transform: scale(1.2);
  border-color: #007bff;
}

/* Reset Button */
#reset-button {
  margin-top: 20px;
  padding: 10px 15px;
  width: 100%;
  border: none;
  background: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

#reset-button:hover {
  background: #0056b3;
}

/* Upload knop */
#upload-logo {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}


.texture-button {
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.texture-button:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

